*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media (max-width: 995px) {
    .navbar-nav {
        flex-direction: row;
    }
    .navbar-nav .nav-item {
        margin-left: 10px;
    }
    .navbar-toggler{
        position: fixed;
        right: 0;
    }
    #headerButtons{
        margin-right: 55px;
    }
}
@media (max-width: 426px) {
    .buttonStyle{
        padding: 4px 8px;
        font-size: 14px
    }
}






/*Styles Gerais:*/
.buttonStyle{
    background-color: #d08d3f;
    border: #1a1819 1px solid;
    color:#fff;
   
}
.buttonStyle:hover{
    background-color: #fff;
    color: #d08d3f ;
}
.nav-link{
    margin: 10px;
    transition: all ease 0.3s;
    color: #222 !important;
}
.nav-item.active{
    border-bottom: 2px solid #d08d3f;
    font-weight: bold
}
.headerNavbar{
    background-color: #fff !important;
    box-shadow: #1a1819 1px 1px 2px  ;
    height: auto;
}